.item_record_ranking_container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 249, 250);
  border-radius: 6px;

  justify-content: center;
  text-align: center;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  row-gap: 5px;

  cursor: pointer;

}

.item_record_main_title {
  font-family: KCC-Hanbit, serif;
  font-size: 20px;
}