/*middle 사이즈 이하*/
@media screen and (max-width: 991px) {
  .banner_container {
    display: grid;
    row-gap: 5px;
    grid-template-columns: 1fr;
    margin-top: 5px;
  }
  
  .item_main_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5px;
    margin-top: 5px;
  }
  
  .item_condition_and_list_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 5px;
  }

}

/*large 사이즈 이상*/
@media screen and (min-width: 992px) {
  .banner_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    column-gap: 5px;
    margin-top: 5px;
  }  
  
  .item_main_container {
    display: grid;
    grid-template-columns: 1fr 375px;
    column-gap: 5px;
    margin-top: 5px;
  }
  
  .item_condition_and_list_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    row-gap: 5px;
  }
  
  .popular_ranking_and_record_ranking_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: min-content;
    row-gap: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .item_main_container {
    display: grid;
    grid-template-columns: 1fr 345px;

    column-gap: 5px;
    margin-top: 5px;
  }
}

@media screen and (min-width:1600px) {
  .item_main_container {
    display: grid;
    grid-template-columns: 1fr 345px;
    
    column-gap: 5px;
    margin-top: 5px;
  }
}


