@font-face {
  font-family: 'Pretendard-Thin';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SOYOMapleBoldTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@media screen and (min-width:992px) and (max-width:1199px) {

  /* 네비게이션 바 */
  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: SOYOMapleBoldTTF;
  }
  
  .header-title a {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  .header-title img {
    width: 28px;
    height: 28px;
    margin: 10px;
  }

  .header-item-nav {
    margin-left: 14px;
    font-family: NPSfontBold;
    font-size: 16px;
  }

  .header-title span {
    display: block;
    color: black;
    
    font-size: 19px;
  }

  .header-title a {
    font-size: 10px;
  }


  /* 아이템 리스트 컨테이너 */
  .item-list-container {
    height: 58vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .item-list-title {
    font-size: 24px;
    font-family: SOYOMapleBoldTTF;
  }
  


  /* 아이템 리스트 아이템 칸 버튼 */
  .item-list-button button {
    width: 12vw;
    height: 12vw;
  
    border: none;
    border-radius: 12px;
  
    padding: 2px
  
  }

  .item-condition-title {
    font-size: 24px;
    font-family: SOYOMapleBoldTTF;
  }

  /********************* 랭킹 ************************/
  .item-ranking-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Pretendard-Regular;

    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 15px;

    border-radius: 8px;
  }

  .item-ranking-container img {
    width: 30px;
  }

  .item-ranking-title {
    font-family: SOYOMapleBoldTTF;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .item-ranking-controller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .item-ranking-button {
    border-radius: 8px;
    border: none;
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  .item-ranking-button img {
    width: 25px;
    height: 25px;
  }

  .ranking-items {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .ranking-items a {
    text-decoration: none;
  }

  .single-ranking-item {
    display: flex;
    align-items: center;
    gap: 10px;

    color: rgb(53, 53, 53);
  }

  .item-rank-text {
    font-family: SOYOMapleBoldTTF;
    width: 38px;
  }

  .single-ranking-item a {
    text-decoration: none;
    color: inherit;
  }

  /* 아이템 리스트 이미지 */
  .item-list-button img {
    height: 60%
  }
  
  /* 아이템 리스트 아이템 이름 */
  .item-list-button span {
    display: block;
    font-family: Pretendard-SemiBold;
    font-size: 13px;
    margin-top: 6px;

    text-overflow: ellipsis;
  }

  .more-item-button {
    width: 100%;
    margin-top: 8px;
    background-color: rgb(255, 255, 255);
  }

  /*********** 시뮬레이터 ***********/

  .shorcut-guide-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    border-radius: 8px;

    padding-top: 15px;
    padding-bottom: 15px;

    margin: 1vw 15px 1vw 15px;

    font-family: SejonghospitalBold;
    
  }

  .shortcut-info {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    text-align: center;

    gap: 10px;

  }

  .shortcut-info span {
  }

  .shortcut-title {
    font-size: 25px;
  }

  .shortcut-description {
    font-size: 19px
  }

  .shorcut-guide-section span {
    color: white;
  }

  .item-simulator-section {
    display: flex;
    align-items: top;
    justify-content: center;

    border-radius: 8px;
  }

  /* .item-info-section-container {

  } */

  .item-info-section {
    font-family: Pretendard-Regular;

    width: 325px;
    text-align: center;
    color: white;
    background-color: #7175b5;

    border-color: black;
    border-width: 2px;

    padding: 4px;

  }

  .item-info-section hr {
    height: 2px;
    background-color: white;

    margin-top: 8px;
    margin-bottom: 8px;

  }

  .item-info-basic {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;

    margin-bottom: 9px;
  }

  .item-img-container {
    margin-left: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    
    background-color: #C9C8D4;
    width: 90px;
    height: 90px;

    border: none;

    align-items: center;
  }

  .item-img {
    height: 78%;
  }

  .scroll-animation {
    position: absolute;
    z-index: 2;
    outline: 0;
    border: none;
    background-color: none;
    width: 92px;
    height: 115px;
  }

  .item-info-required {
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
  }

  .item-status-required {
    text-align: justify;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: flex-start;
  }

  .scroll-overflow-msg {
    color: #ff3e3e;
    justify-content: center;
    margin-left: 3px;
    font-size: 14px;
    font-family: Pretendard-Regular;
  }

  .item-status-required-description {
    display: block;
    width: 63px;
  }

  .item-status-required-info {
    display: block;

  }

  .item-info-required span {
    line-height: 19px;
    font-size: 14px;
    display: block;
  }

  .item-useless-info {
    color: #c0c0c0;
  }

  .item-info-name {
    display: block;
    font-size: 25px;
    font-family: Pretendard-SemiBold;
    margin-top: 1px;
    margin-bottom: 5px;
  }

  .item-info-job {
    font-size: 15px;
  }

  

  .item-info-job span {
    margin-left: 6px;
    margin-right: 6px;
  }

  .item-info-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Pretendard-Regular;
    font-size: 15px;

    line-height: 20px;
    margin-bottom: 10px
  }


  .item-controller-section {
    width: 330px;
    background-color: white;
    border-radius: 6px;

    padding: 6px;

  }

  .scroll-select {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-top: 5px;
    margin-bottom: 9px;
  }

  .scroll-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .scroll-info span {
    font-size: 12px;
    font-family: SejonghospitalBold;

  }

  .scroll-select button {
    width: 73px;
    height: 73px;  

    border: none;
    border-radius: 6px;

    margin-bottom: 2px;

  }

  .scroll-select button:focus {
    outline: 0;
    background-color: rgb(214, 214, 214);
  }

  /* .mouse-down-button {
    background-color: rgb(214, 214, 214);
  } */

  .scroll-select img {
    width: 90%;
  }

  /* 아이템 가격 정보 */
  .item-price-info {
    font-size: 14px;
    font-family: SejonghospitalBold;
    gap: 2px;
  }

  .price-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;

  }

  .price-input-description {
    display: block;
    margin-right: 5px;
    width: 76px;
  }

  .price-input-container input {
    padding: 4px;
    margin-right: 5px;
    height: 25px;

    border-radius: 5px;
    border-width: 1px;

    width: 150px;
    /* height: 13px; */
  }

  .total-price-info-section {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .total-price-info {
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .total-price-info img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }

  .total-price-info span {
    overflow: hidden;
    width: 170px;
    font-size: 19px;
  }

  .total-price-reset-btn {
    padding: 3px 7px 3px 7px;
    border: none;
    border-radius: 3px;
  }

  .total-price-reset-btn:focus {
    border: none;
    outline: 0;
    background-color: rgb(214, 214, 214);
  }

  .item-best-record-root {
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */

  }

  .item-best-record-title {
    font-size: 20px;
    font-family: SejonghospitalBold;

    text-align: center;
    margin-bottom: 8px;
  }

  .best-record-container {
    display: flex;
    justify-content: center;
  }

  .item-record-challenge-section {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .item-record-challenge-btn {
    padding: 3px 7px 3px 7px;
    border: none;
    border-radius: 3px;
    font-family: SejonghospitalBold;
    font-size: 14px;
    width: 325px;
  }

  .item-record-challenge-btn:focus {
    border: none;
    outline: 0;
    background-color: rgb(214, 214, 214);
  }

  .item-simulator-root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}