@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .left-third-split-boundary {
        display: none;
    }

    .right-third-split-boundary {
        display: none;
    }

    .center-third-split-boundary {
        min-width: 380px;
        max-width: 380px;
    }
}