.bgm-container {
    /*padding: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;

    border-radius: 8px;
    /*border: 2px green dashed;*/

    background-color: white;

    width: 280px;
    height: 550px;

    margin-right: 10px;
    overflow: auto;
    float: right
}
.one-bgm {
    width: 260px;
}
.one-bgm > h3 {
    font-family: "IBM Plex Sans KR", sans-serif;
    float: left;
    margin-left: 5px;

}

.one-bgm > label {
    font-family: "IBM Plex Sans KR", sans-serif;
    float: left;
    margin-left: 5px;
    display: block;

}

.one-bgm > iframe {
    width: 254px;
    margin-left: 5px;
    margin-bottom: 8px;
    float: left;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
    /*width: 100%;*/
}