@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500;600;700&display=swap');

html body {
    overflow: auto;
}

html {
    height: 100%
}



body {
    /*outline: dashed 1px black;*/
    justify-content: center;

    /*background-color: #FCD163;*/
    /*background-image: url("../../img/etc/elinia.png");*/
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../img/etc/elinia.png");
    background-size: cover;
    height: 100%;

}



h1 h2 h3 {
    font-family: "IBM Plex Sans KR";
}

/*body:not(.header-body, .footer-body) {*/
/*    !*outline: dashed 1px black;*!*/
/*    !*justify-content: center;*!*/
/*    !*width: 1000px;*!*/
/*    !*height: 100%;*!*/
/*    margin: 0 auto;*/
/*}*/

.item-link-info-container {
    /*border: 2px red dashed;*/
    /*margin-left: 10px;*/
    /*margin-right: 10px;*/
    /*중앙 크기*/
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: "IBM Plex Sans KR", sans-serif;
}

.item-info-container {
    float: left;
    margin: 5px;
}

.item-info {
    width: 320px;
    border: 1px solid black;
    background-color: rgba(45, 41, 122, 0.73);
}

p.item-title {
    text-align: center;

    font-family: "Apple Braille";
    font-size: 20px;
    font-weight: bold;

    color: white;
    margin-top: 7px;
    margin-bottom: 11px;
    margin-bottom: 11px;
}

.item-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /*중앙 크기*/
    width: 1000px;
    opacity: 1.0;
}

.item {
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.item .simulator-controller-container {
    /*border: 3px green solid;*/

    float: left;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 5px;

    font-family: "IBM Plex Sans KR", sans-serif;
}

.item-option-btn-container {
    margin-bottom: 10px;
}
.item-option-btn-container button[type="button"]{
    cursor: pointer;
}

/*이미지 - 요구능력치 블록*/
.image-and-status {
    width: auto;
    text-align: left;
    display: inline-block;
}

.tmp-container {
    display: inline-block;
    background-color: #CBC1CC;
    width: 60px;
    height: 60px;

    padding: 10px;
    margin-top: 0px;
    margin-right: 13px;
    margin-left: 13px;

    vertical-align: top;
}

.img-container {
    /*display: inline-block;*/
    /*float: left;*/
    /*position: absol;*/
    position: relative;
}

/*아이템 이미지 부분*/
.item-image {
    position: absolute;
}

/*요구 능력치 부분*/
.required-status {
    font-size: 15px;
    color: white;
    display: inline-block;

    width: auto;
}

.required-status p {
    /*font-family: 'Noto Sans KR','Pixelify Sans';*/
    font-size: 13px;
    line-height: 4px;
    margin-top: 3px;
}

.item-status {
    color: rgba(143, 145, 183);
}

.etc-info {
    line-height: 6px;
    text-align: center;
    /*font-family: 'Noto Sans KR';*/
    color: white;

    horiz-align: center;

    margin-left: 3px;
    margin-right: 3px;

}

.item-option-btn-container button[type="button"] {
    font-family: "IBM Plex Sans KR";
    /*!*display: flex;*!*/
    /*align-items: center;*/
    /*margin: 3px;*/
    /*vertical-align: top;*/
    /*!*text-align: left;*!*/

    /*display: inline-block;*/
    /*text-align: center;*/
}

.item-option-btn {
    /*font-family: "Noto Sans KR";*/
    display: inline-block;
    margin-top: 3px;
    margin-right: 2px;
}

.job {
    word-spacing: 9px;
}

.available-alert-text {
    /*font-family: "Noto Sans KR";*/
    font-family: "IBM Plex Sans KR", sans-serif;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.scroll-list {
    width: 330px;
    /*margin-top: 10px;*/
    font-weight: 500;
}

.scroll-btn-container {
    vertical-align: top;

    display: inline-block;
    text-align: left;

    /*font-family: 'Noto Sans KR';*/
    font-size: 12px;
    line-height: 6px;

    padding: 1px;
    margin-right: 3px;
}

.scroll-btn-container button[type="button"] {
    cursor: pointer;
}

.scroll-button {
    vertical-align: top;
    padding: 10px;
    padding-bottom: 5px;

    border-style: none;
    border-radius: 4px;
}

.scroll-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #3AA1FF inset;
}

.scroll-image {
    height: 44px;
}

.nomok-power {
    display: inline-block;
}

.item-price-calculator-container {
    font-size: 15px;
}

.item-price-input {
    margin-bottom: 3px;
}

.item-price-input label {
    display: inline-block;
    text-align: left;
    width: 80px;
    font-weight: 700;
    font-size: 15px;
}

.item-price-input input {
    width: 120px;
    height: 18px;
    border: #82858c solid 1px;
    border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;

    overflow: hidden;
}

.item-price-input input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3AA1FF inset;
}

.item-price-input .item-buy-cnt {
    margin-left: 3px;
    font-size: 12px;
}

.scroll-price-calculator-container {
    /*border: 3px red solid;*/
    font-size: 15px;
    /*font-family: "Noto Sans KR";*/
}

.scroll-price-input {
    margin-bottom: 3px;
}

.scroll-price-input label {
    display: inline-block;
    text-align: left;
    width: 80px;
    font-weight: 700;
    font-size: 15px;
}

.scroll-price-input input {
    width: 120px;
    height: 18px;
    border: #82858c solid 1px;
    border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;

    overflow: hidden;
}

.scroll-price-input input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3AA1FF inset;
}

.scroll-price-input .scroll-use-info {
    margin-left: 3px;
    font-size: 12px;
}

.scroll-price-info {
    /*border: 3px red solid;*/
    margin-top: 10px;
    display: flex;
}

.scroll-price-info button[type="button"] {
    font-family: "IBM Plex Sans KR", sans-serif;
    white-space: nowrap;
    text-align: center;
    /*border-radius: 3px;*/
    cursor: pointer;

}

.scroll-price-info button[type="button"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3AA1FF inset;
}

.scroll-price-result {
    display: flex;
    width: 265px
}

.scroll-price-result img {
    display: inline-block;
    margin-right: 5px;
}

.scroll-price-result button {
    float: right;
    font-weight: bold;
}


.scroll-price-result span {
    font-size: 18px;

}

item-price-result #work-glove-reset-btn {
    display: inline-block;
    float: right;
}



