.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*background-color: lightyellow;*/
    text-align: center;
}

#header-title-left {
    width: 20%;
}

#header-title-center {
    width: 100%;
    height: 100%;
}

#header-title-right {
    width: 20%;
}

.simulator-guide summary {
    font-family: 'IBM Plex Sans KR';
    font-size: 30px;
}

.guide-container {
    text-align: center;
}
.guide-img-container {
    text-align: center;
}

.guide-img-container img {
    display: inline-block;
}



