.header-outside-boundary {
    background-color: white;
    /*border: red 2px dashed;*/
    /*중앙 크기 부모의 것을 그대로 따라가야 함*/
    width: 1000px;
    margin: 0 auto;

    border-radius: 5px  ;
}

.header-container {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    /*background-color: lightyellow;*/
    text-align: left;
    width: 100%;
}

.header-title-left {
    /*border: green dashed 2px;*/
    width: 60%;
    margin-left: 10px;

}

.header-title-left img {
    margin-top: 25px;
    /*margin-left: 10px;*/
    /*margin-left: 10px;*/
    border-radius: 5px;
}

.header-title-center {
    /*border: blue dashed 2px;*/
    width: 20%;
    /*height: 100%;*/
}

.header-title-right {
    /*border: #d03333 dashed 2px;*/
    width: 20%;
}

.header-title-right img {
    margin-top: 10px;
    margin-right: 10px;
    float: right;

    /*margin: 0 auto;*/
}


.simulator-guide summary {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.guide-container {
    text-align: center;
}

.guide-container button[type="button"] {
    padding: 3px 15px;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 600;
    font-size: 30px;


    border-radius: 8px;
    border-color: #FFCC48;
    background-color: #FFCC48;

    margin-bottom: 8px;
}

.header-guide-img {
    display: inline-block;
}

.guide-img-container {
    text-align: center;
}

.guide-img-container img {
    display: inline-block;
}

.header-hr {
    background: #FCD163;
    height: 3px;
    border: 0;
}



