@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500;600;700&display=swap');

.item-link-info-container {
    /*border: 2px red dashed;*/
    /*중앙 크기*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    font-family: "IBM Plex Sans KR", sans-serif;
}

.link-btn-container {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.link-btn-container button {
    padding: 3px;
    margin-left: 2px;
    border: none;
    border-radius: 6px;
    width: 120px;
    height: 120px;

    cursor: pointer;
}

.link-btn-info {
    text-align: center;
}

.link-btn-info img {
    display: inline-block;
    height: 72px;

}

.link-btn-info span {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 700;
    font-size: 14px;
}