.key-shortcut-container {
    /*border-radius: 8px;*/
    /*margin: 0 auto;*/
    width: 280px;
    margin-right: 10px;
    float: right
}

.key-shortcut-container img {
    border-radius: 8px;
    width: 100%;

}