/* 기본 스타일 */

/* 대부분의 스타일이 여기에 위치합니다. */

/*!* 600px 이하 *!
@media only screen and (max-width: 600px) {
    .center-third-split-boundary {
        width: 100%; !* 중앙 영역을 화면 전체로 확장 *!
        border-radius: 0; !* 모바일에서 테두리 반경 제거 *!
    }

    .left-third-split-boundary,
    .right-third-split-boundary {
        display: none; !* 왼쪽, 오른쪽 영역을 숨김 *!
    }

    .item-info-container {
        width: 100%; !* 아이템 정보 컨테이너를 화면 전체로 확장 *!
    }

    .item-info {
        width: 100%; !* 아이템 정보를 화면 전체로 확장 *!
    }

    .image-and-status {
        text-align: center; !* 이미지와 능력치를 가운데 정렬 *!
    }

    .tmp-container {
        margin: 0 auto; !* 이미지 컨테이너를 가운데 정렬 *!
    }

    .required-status {
        text-align: center; !* 능력치를 가운데 정렬 *!
    }

    .etc-info {
        text-align: center; !* 기타 정보를 가운데 정렬 *!
    }

    .simulator-controller-container {
        text-align: center; !* 시뮬레이터 컨트롤러를 가운데 정렬 *!
    }

    .scroll-list {
        width: 100%; !* 스크롤 버튼 리스트를 화면 전체로 확장 *!
    }

    .scroll-btn-container {
        width: 100%; !* 스크롤 버튼 컨테이너를 화면 전체로 확장 *!
        margin-bottom: 10px; !* 스크롤 버튼 간 간격 추가 *!
    }

    .scroll-button {
        width: 100%; !* 스크롤 버튼을 화면 전체로 확장 *!
    }

    .item-price-calculator-container,
    .scroll-price-calculator-container {
        text-align: center; !* 가격 계산기 컨테이너를 가운데 정렬 *!
    }

    .item-price-input,
    .scroll-price-input {
        display: inline-block; !* 입력창을 인라인 블록으로 표시 *!
        width: calc(33.33% - 10px); !* 입력창을 33.33%의 너비로 조절 *!
        margin-right: 10px; !* 입력창 간 간격 추가 *!
    }

    .scroll-price-info {
        width: 100%; !* 스크롤 가격 정보를 화면 전체로 확장 *!
    }

    .scroll-price-result {
        float: none; !* 결과 부분을 기본 위치로 변경 *!
    }

    .scroll-price-result img {
        margin-right: 5px; !* 결과 부분 이미지 간 간격 추가 *!
    }

    .scroll-price-result button {
        float: none; !* 버튼을 기본 위치로 변경 *!
    }
}*/

/* iPad Pro에 맞는 CSS */

/* 대부분의 스타일이 여기에 위치합니다. */

/* 화면 너비가 1024px 이하일 때 적용되는 스타일 */
/* iPad Pro */
@media only screen and (max-width: 1024px) {
    .center-third-split-boundary {
        width: 100%; /* 중앙 영역을 화면 전체로 확장 */
        border-radius: 0; /* 테두리 반경 제거 */
    }

    .left-third-split-boundary,
    .right-third-split-boundary {
        display: none; /* 왼쪽, 오른쪽 영역 숨김 */
    }

    .item-info-container {
        width: 100%; /* 아이템 정보 컨테이너를 화면 전체로 확장 */
    }

    .item-info {
        width: 100%; /* 아이템 정보를 화면 전체로 확장 */
    }

    .image-and-status {
        text-align: center; /* 이미지와 능력치를 가운데 정렬 */
    }

    .tmp-container {
        margin: 0 auto; /* 이미지 컨테이너를 가운데 정렬 */
    }

    .required-status {
        text-align: center; /* 능력치를 가운데 정렬 */
    }

    .etc-info {
        text-align: center; /* 기타 정보를 가운데 정렬 */
    }

    .simulator-controller-container {
        text-align: center; /* 시뮬레이터 컨트롤러를 가운데 정렬 */
    }

    .scroll-list {
        width: 100%; /* 스크롤 버튼 리스트를 화면 전체로 확장 */
    }

    .scroll-btn-container {
        width: 100%; /* 스크롤 버튼 컨테이너를 화면 전체로 확장 */
        margin-bottom: 10px; /* 스크롤 버튼 간 간격 추가 */
    }

    .scroll-button {
        width: 100%; /* 스크롤 버튼을 화면 전체로 확장 */
    }

    .item-price-calculator-container,
    .scroll-price-calculator-container {
        text-align: center; /* 가격 계산기 컨테이너를 가운데 정렬 */
    }

    .item-price-input,
    .scroll-price-input {
        display: inline-block; /* 입력창을 인라인 블록으로 표시 */
        width: calc(33.33% - 10px); /* 입력창을 33.33%의 너비로 조절 */
        margin-right: 10px; /* 입력창 간 간격 추가 */
    }

    .scroll-price-info {
        width: 100%; /* 스크롤 가격 정보를 화면 전체로 확장 */
    }

    .scroll-price-result {
        float: none; /* 결과 부분을 기본 위치로 변경 */
    }

    .scroll-price-result img {
        margin-right: 5px; /* 결과 부분 이미지 간 간격 추가 */
    }

    .scroll-price-result button {
        float: none; /* 버튼을 기본 위치로 변경 */
    }
}


/* 아이폰 12PRO */
/* 모바일 화면에 대한 스타일 */
@media only screen and (max-width: 390px) {
    .center-third-split-boundary {
        width: 100%; /* 중앙 영역을 화면 전체로 확장 */
        border-radius: 0; /* 모바일에서 테두리 반경 제거 */
    }

    .left-third-split-boundary,
    .right-third-split-boundary {
        display: none; /* 왼쪽, 오른쪽 영역을 숨김 */
    }

    .item-info-container {
        width: 100%; /* 아이템 정보 컨테이너를 화면 전체로 확장 */
    }

    .item-info {
        width: 100%; /* 아이템 정보를 화면 전체로 확장 */
    }

    .image-and-status {
        text-align: center; /* 이미지와 능력치를 가운데 정렬 */
    }

    .tmp-container {
        margin: 0 auto; /* 이미지 컨테이너를 가운데 정렬 */
    }

    .required-status {
        text-align: center; /* 능력치를 가운데 정렬 */
    }

    .etc-info {
        text-align: center; /* 기타 정보를 가운데 정렬 */
    }

    .simulator-controller-container {
        text-align: center; /* 시뮬레이터 컨트롤러를 가운데 정렬 */
    }

    .scroll-list {
        width: 100%; /* 스크롤 버튼 리스트를 화면 전체로 확장 */
    }

    .scroll-btn-container {
        width: 100%; /* 스크롤 버튼 컨테이너를 화면 전체로 확장 */
        margin-bottom: 10px; /* 스크롤 버튼 간 간격 추가 */
    }

    .scroll-button {
        width: 100%; /* 스크롤 버튼을 화면 전체로 확장 */
    }

    .item-price-calculator-container,
    .scroll-price-calculator-container {
        text-align: center; /* 가격 계산기 컨테이너를 가운데 정렬 */
    }

    .item-price-input,
    .scroll-price-input {
        display: inline-block; /* 입력창을 인라인 블록으로 표시 */
        width: calc(100% - 10px); /* 입력창을 100%의 너비로 조절 */
        margin-right: 10px; /* 입력창 간 간격 추가 */
    }

    .scroll-price-info {
        width: 100%; /* 스크롤 가격 정보를 화면 전체로 확장 */
    }

    .scroll-price-result {
        float: none; /* 결과 부분을 기본 위치로 변경 */
    }

    .scroll-price-result img {
        margin-right: 5px; /* 결과 부분 이미지 간 간격 추가 */
    }

    .scroll-price-result button {
        float: none; /* 버튼을 기본 위치로 변경 */
    }
}

