.main_flex {
  background-color: rgb(248, 249, 250);
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-align: center;
  justify-content: start;
  
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  cursor: pointer;
  
  border-radius:5px;
}

.main_flex:hover {
  background-color: rgb(239, 239, 239);
}

.challenger_name {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;       
  display: inline-block;
  text-align: start;
}

.main_flex > img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.try_block {
  width: 110px;
  display: flex;
  flex-direction: row;
  text-align: start;
}

.primary_red {
  color: rgb(255, 100, 100);
}

.iev_block {
  width: 65px;
  display: flex;
  text-align: start;
}

.score_block {
  width: 100px;
  display: flex;
  text-align: start;
}
