<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파란색 가운(지능)</title>
    <link rel="icon" href="/img/weapon/raw/blue-sauna-robe-raw.png">
    <link rel="stylesheet" href="/css/custom/default.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load('/common/header.html');
            $("#footers").load("/common/footer.html");
        });
    </script>
</head>
<body>

<div id="headers"></div>
<h3>파란색 가운(지능)</h3>

</body>
</html>