<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-5115370026469477">
    <script type="text/javascript" src="/js/global/redirection.js"></script>
    <title>파란색 가운(민첩)</title>
    <link rel="icon" href="/img/item/armor/blue-sauna-robe.png">
    <link rel="stylesheet" href="/css/custom/default.css">
    <link rel="stylesheet" href="/css/custom/boundary.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PG3NHKRPS5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PG3NHKRPS5');
    </script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
    $(document).ready( function() {
      $("#headers").load('/common/header.html');
      $("#footers").load("/common/footer.html");
        $("#key-shortcut-guide").load('/common/key-shortcut.html');
        $("#bgm-selector").load('/common/bgm-selector.html');
    });
  </script>
</head>
<body>

    <div id="headers"></div>

    <div class="outside-boundary">
        <div class="first-boundary">
            <div class="left-third-split-boundary">
                <div id="key-shortcut-guide"></div>
            </div>
            <div class="center-third-split-boundary">
                <div class="item-container">
                    <!--파란색 가운(민첩)-->
                    <div class="item">
                        <div class="item-info-container">
                            <div class="item-info">
                                <p id="blue-robe-swift-title" class="item-title">
                                    파란색 가운(남)<span id="blue-robe-swift-additional" hidden="hidden"> (+<span id="blue-robe-swift-upgraded-count">0</span>)</span></p>

                                <!-- 아이템 이미지, 필요 능력치-->
                                <div class="image-and-status" >
                                    <div class="tmp-container">
                                        <div class="img-container">
                                            <img class="item-image" src="/img/item/armor/blue-sauna-robe.png" width="61" height="60">
                                            <img class="item-image" id="blue-robe-swift-gif-img" src="/img/item/armor/blue-sauna-robe.png"  width="60" height="90" hidden="hidden">
                                        </div>
                                    </div>
                                    <div class="required-status">
                                        <div class="user-status">
                                            <p>REQ LEV : 30</p>
                                            <p>REQ STR : 0</p>
                                            <p>REQ DEX : 0</p>
                                            <p>REQ INT : 0</p>
                                            <p>REQ LUK : 0</p>
                                            <p>REQ POP : -</p>
                                        </div>
                                        <!--                            <div class="item-status">-->
                                        <!--                                <p>ITEM LEV: - </p>-->
                                        <!--                                <p>ITEM EXP: - </p>-->
                                        <!--                            </div>-->

                                    </div>
                                </div>

                                <!--착용가능 직업, 실제 능력치-->
                                <div class="etc-info">
                                    <p class="job">초보자  전사  마법사  궁수  도적  해적</p>
                                    <hr>
                                    <p>장비 분류 : 한벌옷</p>
                                    <!--                <p id="blue-robe-swift-acc-text" hidden="hidden">명중률 : +<span id="blue-robe-swift-acc">0</span></p>-->
                                    <p id="blue-robe-swift-dex-info" hidden="hidden">DEX: +<span id="blue-robe-swift-dex">0</span></p>
                                    <p>물리 방어력 : +<span id="blue-robe-swift-phy-def">30</span></p>
                                    <p id="blue-robe-swift-acc-info" hidden="hidden">명중률: +<span id="blue-robe-swift-acc">0</span></p>
                                    <p>회피율 : +<span id="blue-robe-swift-phy-avo">10</span></p>
                                    <p id="blue-robe-swift-mvs-info" hidden="hidden">이동속도: +<span id="blue-robe-swift-mvs">0</span></p>
                                    <p>업그레이드 가능 횟수 : <span id="blue-robe-swift-upgrade-available-count">10</span></p>
                                </div>
                            </div>
                            <div hidden="hidden" class="available-alert-text" id="blue-robe-swift-available-alert-txt">
                                <span style="color:#d03333">강화 횟수를 초과하였습니다.</span>
                            </div>
                        </div>
                        <div class="simulator-controller-container">

                            <div class="scroll-list">
                                <div class="scroll-btn-container">
                                    <button id="blue-robe-swift-10-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/10.png">
                                    </button>
                                    <p>전민10%</p>
                                    <p>DEX+5</p>
                                    <p>명중률+3</p>
                                    <p>이동속도+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="blue-robe-swift-60-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/60.png">
                                    </button>
                                    <p>전민60%</p>
                                    <p>DEX+2</p>
                                    <p>명중률+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="blue-robe-swift-100-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/100.png">
                                    </button>
                                    <p>전민100%</p>
                                    <p>DEX+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="blue-robe-swift-reset-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/etc/reset.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="item-price-calculator-container" >
                                <div class="item-price-input">
                                    <label for="blue-robe-swift-price">아이템 가격:</label>
                                    <input type="text" id="blue-robe-swift-price" placeholder="가격을 입력하세요" value="0">
                                    <span class="item-buy-cnt">
                <span id="blue-robe-swift-cnt">1</span>개
            </span>
                                </div>
                            </div>
                            <div class="scroll-price-calculator-container">
                                <div class="scroll-price-input">
                                    <label for="blue-robe-swift-10-price">10% 가격: </label>
                                    <input type="text" id="blue-robe-swift-10-price" placeholder=" 가격을 입력하세요" value="0" >
                                    <span class="scroll-use-info">
                <span id="blue-robe-swift-10-success-cnt">0</span>장 /
                <span id="blue-robe-swift-10-used-cnt">0</span>장
            </span>
                                </div>
                                <div class="scroll-price-input">
                                    <label for="blue-robe-swift-60-price">60% 가격: </label>
                                    <input type="text" id="blue-robe-swift-60-price" placeholder=" 가격을 입력하세요" value="0">
                                    <span class="scroll-use-info">
                <span id="blue-robe-swift-60-success-cnt">0</span>장 /
                <span id="blue-robe-swift-60-used-cnt">0</span>장
            </span>
                                </div>
                                <div class="scroll-price-input">
                                    <label for="blue-robe-swift-100-price">100% 가격: </label>
                                    <input type="text" id="blue-robe-swift-100-price" placeholder=" 가격을 입력하세요" value="0">
                                    <span class="scroll-use-info">
                <span id="blue-robe-swift-100-success-cnt">0</span>장 /
                <span id="blue-robe-swift-100-used-cnt">0</span>장
            </span>
                                </div>
                                <div class="scroll-price-info">
                                    <div class="scroll-price-result">
                                        <img src ="/img/etc/meso.png" width="30px" height="30px">
                                        <span id="blue-robe-swift-total-used-price">0</span>
                                    </div>
                                    <button id="blue-robe-swift-price-reset-btn" type="button">메소 리셋</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-third-split-boundary">
                <div id="bgm-selector"></div>
            </div>
        </div>
    </div>

    <script type="module" th:src="@{/js/item/blue-robe/blue-robe-swift.js}"></script>
</body>
</html>