@media screen and (min-width:992px) {
  .name_condition_main {
    display: flex;
    width: 400px;
    column-gap: 5px;
    margin-left: .5rem;

    font-family: KCC-Hanbit;
  }
}

@media screen and (max-width: 991px) {
  .name_condition_main {
    display: flex;
    width: 300px;
    column-gap: 5px;
    margin-left: .5rem;

    font-family: KCC-Hanbit;
  }
}



.name_condition_main button {
  width: 70px;
}
