/*xl이상*/
@media screen and (min-width: 1200px) {
  .main_grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.1fr minmax(600px, 3.3fr) 0.1fr;
    grid-auto-rows: max-content;
  }
}

@media screen and (min-width: 1400px) {
  .main_grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 0.5fr minmax(600px, 3.3fr) 0.5fr;
    grid-auto-rows: max-content;
  }
}

/*xxl 그 이상*/
@media screen and (min-width:1600px) {
  .main_grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr minmax(100px, 2.2fr) 1fr;
    grid-auto-rows: max-content;
  }
  
}

