<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="google-adsense-account" content="ca-pub-5115370026469477">
    <script type="text/javascript" src="/js/global/redirection.js"></script>
    <title>이블 윙즈</title>
    <link rel="icon" href="/img/item/weapon/evil-wings.png">
    <link rel="stylesheet" href="/css/custom/default.css">
    <link rel="stylesheet" href="/css/custom/boundary.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PG3NHKRPS5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-PG3NHKRPS5');
    </script>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function() {
            $("#headers").load('/common/header.html');
            $("#footers").load("/common/footer.html");
            $("#key-shortcut-guide").load('/common/key-shortcut.html');
        });
    </script>
</head>
<body>
    <div id="headers"></div>

    <div class="outside-boundary">
        <div class="first-boundary">
            <div class="left-third-split-boundary">
                <div id="key-shortcut-guide"></div>
            </div>
            <div class="center-third-split-boundary">
                <div class="item-container">
                    <!--이블 윙즈-->
                    <div class="item">
                        <div class="item-info-container">
                            <div class="item-info">
                                <p id="evil-wings-title" class="item-title">
                                    이블 윙즈<span id="evil-wings-additional" hidden="hidden"> (+<span id="evil-wings-upgraded-count">0</span>)</span></p>

                                <!-- 아이템 이미지, 필요 능력치-->
                                <div class="image-and-status" >
                                    <div class="tmp-container">
                                        <div class="img-container">
                                            <img class="item-image" src="/img/item/weapon/evil-wings.png" width="60" height="60">
                                            <img class="item-image" id="evil-wings-gif-img" src="/img/item/weapon/evil-wings.png"  width="60" height="90" hidden="hidden">
                                        </div>
                                    </div>
                                    <div class="required-status">
                                        <div class="user-status">
                                            <p>REQ LEV : 65</p>
                                            <p>REQ STR : 0</p>
                                            <p>REQ DEX : 80</p>
                                            <p>REQ INT : 198</p>
                                            <p>REQ LUK : 68</p>
                                            <p>REQ POP : 0</p>
                                        </div>
                                        <div class="item-status">
                                            <p>ITEM LEV: - </p>
                                            <p>ITEM EXP: - </p>
                                        </div>

                                    </div>
                                </div>

                                <!--착용가능 직업, 실제 능력치-->
                                <div class="etc-info">
                                    <p class="job"><span style="color:red">초보자  전사</span>  마법사  <span style="color:red">궁수  도적  해적</span></p>
                                    <hr>
                                    <p>장비 분류 : 스태프</p>
                                    <p>공격속도 : 4</p>
                                    <!--                <p id="evil-wings-acc-text" hidden="hidden">명중률 : +<span id="evil-wings-acc">0</span></p>-->
                                    <p>공격력 : +<span id="evil-wings-phy-atk">53</span></p>
                                    <p>마력 : +<span id="evil-wings-mg-atk">80</span></p>
                                    <p id="evil-wings-mg-def-info" hidden="hidden">마법 방어력 : +<span id="evil-wings-mg-def"></span></p>
                                    <p id="evil-wings-int-info" hidden="hidden">INT : +<span id="evil-wings-int">0</span></p>
                                    <p>업그레이드 가능 횟수 : <span id="evil-wings-upgrade-available-count">7</span></p>
                                </div>
                            </div>
                            <div hidden="hidden" class="available-alert-text" id="evil-wings-available-alert-txt">
                                <span style="color:#d03333">강화 횟수를 초과하였습니다</span>
                            </div>
                        </div>
                        <div class="simulator-controller-container">
                            <div class="item-option-btn-container">
                                <button id="evil-wings-normal-option-btn" class="item-option-btn" type="button">정옵</button>
                                <button id="evil-wings-one-upper-option-btn" class="item-option-btn" type="button">1상옵</button>
                                <button id="evil-wings-two-upper-option-btn" class="item-option-btn" type="button">2상옵</button>
                                <button id="evil-wings-three-upper-option-btn" class="item-option-btn" type="button">3상옵</button>
                                <button id="evil-wings-four-upper-option-btn" class="item-option-btn" type="button">4상옵</button>
                                <button id="evil-wings-five-upper-option-btn" class="item-option-btn" type="button">5상옵</button>
                            </div>
                            <div class="scroll-list">
                                <div class="scroll-btn-container">
                                    <button id="evil-wings-10-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/10.png">
                                    </button>
                                    <p>스마공10%</p>
                                    <p>마법공격력+5</p>
                                    <p>INT+3</p>
                                    <p>마법방어력+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="evil-wings-60-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/60.png">
                                    </button>
                                    <p>스마공60%</p>
                                    <p>마법공격력+2</p>
                                    <p>INT+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="evil-wings-100-percent-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/scroll/100.png">
                                    </button>
                                    <p>스마공100%</p>
                                    <p>마법공격력+1</p>
                                </div>
                                <div class="scroll-btn-container">
                                    <button id="evil-wings-reset-button" class ="scroll-button" type="button">
                                        <img class="scroll-image" src="/img/etc/reset.svg">
                                    </button>
                                </div>
                            </div>
                            <div class="item-price-calculator-container" >
                                <div class="item-price-input">
                                    <label for="evil-wings-price">아이템 가격:</label>
                                    <input type="text" id="evil-wings-price" placeholder="가격을 입력하세요" value="0">
                                    <span class="item-buy-cnt">
                        <span id="evil-wings-cnt">1</span>개
                    </span>
                                </div>
                            </div>
                            <div class="scroll-price-calculator-container">
                                <div class="scroll-price-input">
                                    <label for="evil-wings-10-price">10% 가격: </label>
                                    <input type="text" id="evil-wings-10-price" placeholder=" 가격을 입력하세요" value="0" >
                                    <span class="scroll-use-info">
                        <span id="evil-wings-10-success-cnt">0</span>장 /
                        <span id="evil-wings-10-used-cnt">0</span>장
                    </span>
                                </div>
                                <div class="scroll-price-input">
                                    <label for="evil-wings-60-price">60% 가격: </label>
                                    <input type="text" id="evil-wings-60-price" placeholder=" 가격을 입력하세요" value="0">
                                    <span class="scroll-use-info">
                        <span id="evil-wings-60-success-cnt">0</span>장 /
                        <span id="evil-wings-60-used-cnt">0</span>장
                    </span>
                                </div>
                                <div class="scroll-price-input">
                                    <label for="evil-wings-100-price">100% 가격: </label>
                                    <input type="text" id="evil-wings-100-price" placeholder=" 가격을 입력하세요" value="0">
                                    <span class="scroll-use-info">
                        <span id="evil-wings-100-success-cnt">0</span>장 /
                        <span id="evil-wings-100-used-cnt">0</span>장
                    </span>
                                </div>
                                <div class="scroll-price-info">
                                    <div class="scroll-price-result">
                                        <img src ="/img/etc/meso.png" width="30px" height="30px">
                                        <span id="evil-wings-total-used-price">0</span>
                                    </div>
                                    <button id="evil-wings-price-reset-btn" type="button">메소 리셋</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-third-split-boundary"></div>
        </div>
    </div>

    <script type="module" th:src="@{/js/item/evil-wings/evil-wings.js}"></script>

</body>
</html>